<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .bg-green {
            background-color: #32CD32; /* Code couleur pour le vert lime */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-green">
            <a class="navbar-brand" href="#">
              <img src="assets/images/logo/as_logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              Arsenal 
            </a>
        </nav>
    </header>
</body>
</html>
